In [21]:
import pandas as pd

In [202]:
df = pd.read_csv('27_36.csv')

In [203]:
df

                  날짜  시간  node_id   행정동  near_phar
0       2019년 1월 23일   6        0   산내동          0
1       2019년 1월 23일   6        1   산내동          0
2       2019년 1월 23일   6        2   산내동          0
3       2019년 1월 23일   6        3   산내동          0
4       2019년 1월 23일   6        4   산성동          0
...              ...  ..      ...   ...        ...
106145   2019년 2월 9일   8      545   덕암동          2
106146   2019년 2월 9일   8      546   석봉동          0
106147   2019년 2월 9일   8      547   석봉동          2
106148   2019년 2월 9일   8      548   석봉동          5
106149   2019년 2월 9일   8      549  신탄진동          4

[106150 rows x 5 columns]

In [195]:
df.loc[df['행정동'] == '원신흥동']

Empty DataFrame
Columns: [날짜, 시간, node_id, 행정동, near_phar]
Index: []

In [196]:
len(df['행정동'].unique())

82

In [171]:
# 업데이트 할 때 진행하자
for i,j in zip(list_dong.keys(),list_dong.values()):
    df.loc[df['node_id'] == i,'행정동'] = j

In [128]:
df.to_csv('27_36_행정동_수정.csv')

In [204]:
df1 = pd.read_csv('대전시.csv')

In [205]:
df1 = df1.drop(columns = ['OBJECTID','adm_cd','adm_cd2','Unnamed: 4','Unnamed: 5','Unnamed: 6'])

In [206]:
df_list = df1['adm_nm']

In [207]:
df_list.unique()

array(['대전광역시 동구 산내동', '대전광역시 동구 중앙동', '대전광역시 동구 홍도동', '대전광역시 동구 대청동',
       '대전광역시 동구 성남동', '대전광역시 동구 삼성동', '대전광역시 동구 신인동', '대전광역시 동구 대동',
       '대전광역시 중구 중촌동', '대전광역시 중구 대흥동', '대전광역시 중구 은행선화동', '대전광역시 중구 목동',
       '대전광역시 중구 대사동', '대전광역시 중구 부사동', '대전광역시 중구 문창동', '대전광역시 중구 석교동',
       '대전광역시 중구 태평1동', '대전광역시 중구 태평2동', '대전광역시 중구 용두동', '대전광역시 중구 오류동',
       '대전광역시 중구 문화1동', '대전광역시 중구 문화2동', '대전광역시 중구 유천1동', '대전광역시 중구 유천2동',
       '대전광역시 유성구 노은3동', '대전광역시 대덕구 오정동', '대전광역시 유성구 원신흥동',
       '대전광역시 유성구 노은2동', '대전광역시 대덕구 비래동', '대전광역시 대덕구 중리동',
       '대전광역시 대덕구 대화동', '대전광역시 대덕구 회덕동', '대전광역시 대덕구 신탄진동',
       '대전광역시 대덕구 석봉동', '대전광역시 대덕구 법1동', '대전광역시 대덕구 법2동', '대전광역시 대덕구 송촌동',
       '대전광역시 대덕구 덕암동', '대전광역시 대덕구 목상동', '대전광역시 서구 도마1동', '대전광역시 서구 도마2동',
       '대전광역시 중구 산성동', '대전광역시 서구 복수동', '대전광역시 서구 용문동', '대전광역시 서구 탄방동',
       '대전광역시 서구 정림동', '대전광역시 서구 변동', '대전광역시 서구 괴정동', '대전광역시 서구 가장동',
       '대전광역시 서구 둔산1동', '대전광역시 서구 둔산2동', '대전광역시 서구 갈마2동', '대전광역시 서구 월평1동',
       '대전광역시 서구 내동', '대전광역시 서구 갈마1동', '대전광역시 서구 만년동', '대전광역시 서구 가수원동',
       '대전광역시 서구 월평2동', '대전광역시 서구 월평3동', '대전광역시 서구 관저2동', '대전광역시 서구 둔산3동',
       '대전광역시 서구 기성동', '대전광역시 서구 관저1동', '대전광역시 유성구 신성동', '대전광역시 유성구 전민동',
       '대전광역시 유성구 진잠동', '대전광역시 유성구 온천2동', '대전광역시 유성구 관평동',
       '대전광역시 유성구 온천1동', '대전광역시 유성구 노은1동', '대전광역시 유성구 구즉동',
       '대전광역시 동구 판암2동', '대전광역시 동구 용운동', '대전광역시 동구 효동', '대전광역시 동구 판암1동',
       '대전광역시 동구 가양2동', '대전광역시 동구 용전동', '대전광역시 동구 자양동', '대전광역시 동구 가양1동'],
      dtype=object)

In [208]:
a = df['행정동'].unique()

In [209]:
len(df_list)

79

In [210]:
list_change = []
for i in a:
    for j in df_list:
        if i in j:
            list_change.append([i,j])
            break
        else:
            pass

In [211]:
# 73개면 맞는거임
len(list_change)

73

In [212]:
list_change

[['산내동', '대전광역시 동구 산내동'],
 ['산성동', '대전광역시 중구 산성동'],
 ['복수동', '대전광역시 서구 복수동'],
 ['가수원동', '대전광역시 서구 가수원동'],
 ['문화2동', '대전광역시 중구 문화2동'],
 ['관저2동', '대전광역시 서구 관저2동'],
 ['진잠동', '대전광역시 유성구 진잠동'],
 ['석교동', '대전광역시 중구 석교동'],
 ['부사동', '대전광역시 중구 부사동'],
 ['정림동', '대전광역시 서구 정림동'],
 ['대사동', '대전광역시 중구 대사동'],
 ['문화1동', '대전광역시 중구 문화1동'],
 ['효동', '대전광역시 동구 효동'],
 ['관저1동', '대전광역시 서구 관저1동'],
 ['도마2동', '대전광역시 서구 도마2동'],
 ['판암1동', '대전광역시 동구 판암1동'],
 ['온천1동', '대전광역시 유성구 온천1동'],
 ['도마1동', '대전광역시 서구 도마1동'],
 ['유천1동', '대전광역시 중구 유천1동'],
 ['유천2동', '대전광역시 중구 유천2동'],
 ['대흥동', '대전광역시 중구 대흥동'],
 ['문창동', '대전광역시 중구 문창동'],
 ['판암2동', '대전광역시 동구 판암2동'],
 ['신인동', '대전광역시 동구 신인동'],
 ['변동', '대전광역시 서구 변동'],
 ['태평2동', '대전광역시 중구 태평2동'],
 ['태평1동', '대전광역시 중구 태평1동'],
 ['오류동', '대전광역시 중구 오류동'],
 ['용두동', '대전광역시 중구 용두동'],
 ['은행선화동', '대전광역시 중구 은행선화동'],
 ['중앙동', '대전광역시 동구 중앙동'],
 ['용운동', '대전광역시 동구 용운동'],
 ['자양동', '대전광역시 동구 자양동'],
 ['내동', '대전광역시 동구 산내동'],
 ['가장동', '대전광역시 서구 가장동'],
 ['대동', '대전광역시 동구 대동'],
 ['괴정동', '대전광역시 서구 괴정동'],
 ['용문동', '대전광역시 서구 용문동'],
 ['목동', '대전광역시 중구 목동'],
 ['삼성동', '대전광역시 동구 삼성동'],
 ['중촌동', '대전광역시 중구 중촌동'],
 ['성남동', '대전광역시 동구 성남동'],
 ['가양1동', '대전광역시 동구 가양1동'],
 ['갈마2동', '대전광역시 서구 갈마2동'],
 ['갈마1동', '대전광역시 서구 갈마1동'],
 ['탄방동', '대전광역시 서구 탄방동'],
 ['홍도동', '대전광역시 동구 홍도동'],
 ['가양2동', '대전광역시 동구 가양2동'],
 ['월평1동', '대전광역시 서구 월평1동'],
 ['둔산2동', '대전광역시 서구 둔산2동'],
 ['오정동', '대전광역시 대덕구 오정동'],
 ['용전동', '대전광역시 동구 용전동'],
 ['노은1동', '대전광역시 유성구 노은1동'],
 ['중리동', '대전광역시 대덕구 중리동'],
 ['송촌동', '대전광역시 대덕구 송촌동'],
 ['비래동', '대전광역시 대덕구 비래동'],
 ['온천2동', '대전광역시 유성구 온천2동'],
 ['월평3동', '대전광역시 서구 월평3동'],
 ['월평2동', '대전광역시 서구 월평2동'],
 ['대화동', '대전광역시 대덕구 대화동'],
 ['만년동', '대전광역시 서구 만년동'],
 ['신성동', '대전광역시 유성구 신성동'],
 ['전민동', '대전광역시 유성구 전민동'],
 ['법1동', '대전광역시 대덕구 법1동'],
 ['법2동', '대전광역시 대덕구 법2동'],
 ['노은2동', '대전광역시 유성구 노은2동'],
 ['회덕동', '대전광역시 대덕구 회덕동'],
 ['관평동', '대전광역시 유성구 관평동'],
 ['덕암동', '대전광역시 대덕구 덕암동'],
 ['목상동', '대전광역시 대덕구 목상동'],
 ['구즉동', '대전광역시 유성구 구즉동'],
 ['신탄진동', '대전광역시 대덕구 신탄진동'],
 ['석봉동', '대전광역시 대덕구 석봉동']]

In [213]:
mer = pd.DataFrame(list_change)

In [214]:
mer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       73 non-null     object
 1   1       73 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

In [215]:
mer

       0               1
0    산내동    대전광역시 동구 산내동
1    산성동    대전광역시 중구 산성동
2    복수동    대전광역시 서구 복수동
3   가수원동   대전광역시 서구 가수원동
4   문화2동   대전광역시 중구 문화2동
..   ...             ...
68   덕암동   대전광역시 대덕구 덕암동
69   목상동   대전광역시 대덕구 목상동
70   구즉동   대전광역시 유성구 구즉동
71  신탄진동  대전광역시 대덕구 신탄진동
72   석봉동   대전광역시 대덕구 석봉동

[73 rows x 2 columns]

In [216]:
mer = mer.rename(columns = {0:'행정동'})

In [217]:
mer

     행정동               1
0    산내동    대전광역시 동구 산내동
1    산성동    대전광역시 중구 산성동
2    복수동    대전광역시 서구 복수동
3   가수원동   대전광역시 서구 가수원동
4   문화2동   대전광역시 중구 문화2동
..   ...             ...
68   덕암동   대전광역시 대덕구 덕암동
69   목상동   대전광역시 대덕구 목상동
70   구즉동   대전광역시 유성구 구즉동
71  신탄진동  대전광역시 대덕구 신탄진동
72   석봉동   대전광역시 대덕구 석봉동

[73 rows x 2 columns]

In [218]:
df

                  날짜  시간  node_id   행정동  near_phar
0       2019년 1월 23일   6        0   산내동          0
1       2019년 1월 23일   6        1   산내동          0
2       2019년 1월 23일   6        2   산내동          0
3       2019년 1월 23일   6        3   산내동          0
4       2019년 1월 23일   6        4   산성동          0
...              ...  ..      ...   ...        ...
106145   2019년 2월 9일   8      545   덕암동          2
106146   2019년 2월 9일   8      546   석봉동          0
106147   2019년 2월 9일   8      547   석봉동          2
106148   2019년 2월 9일   8      548   석봉동          5
106149   2019년 2월 9일   8      549  신탄진동          4

[106150 rows x 5 columns]

In [6]:
weekday = ['월','화','수','목','금','토','일']

In [12]:
import re
from datetime import date

In [13]:
list_weekday = []
for i in df['날짜']:
    p = re.compile('\d+')
    a = p.findall(i)
    b = weekday[date(int(a[0]), int(a[1]), int(a[2])).weekday()]
    if b == '일' or b == '토':
        list_weekday.append('주말')
    else:
        list_weekday.append('평일')

In [14]:
df['요일'] = list_weekday

In [17]:
df_weekday = df.loc[df['요일'] == '평일']
df_weekend = df.loc[df['요일'] == '주말']

In [19]:
pd.pivot_table(df_weekday,index = ['행정동'], columns = '시간',values = 'near_phar').reset_index().to_csv('평일.csv')
pd.pivot_table(df_weekend,index = ['행정동'], columns = '시간',values = 'near_phar').reset_index().to_csv('주말.csv')

In [20]:
pd.pivot_table(df_weekday,index = ['행정동'], columns = '시간',values = 'near_phar').reset_index()

시간,행정동,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,가수원동,0.000000,0.000000,1.326754,1.990132,1.990132,1.990132,1.990132,1.990132,1.988839,1.987500,1.987500,1.987500,1.505682,1.084091,0.602273,0.060227,0.000000,0.000000,0.0
1,가양1동,0.160819,0.321637,2.573099,5.789474,5.789474,5.789474,5.789474,5.789474,5.785714,5.781818,5.781818,5.621212,4.336364,1.606061,0.803030,0.160606,0.160606,0.160606,0.0
2,가양2동,0.000000,0.000000,1.947368,4.868421,5.350877,5.350877,5.350877,5.350877,5.348214,5.345455,5.095455,5.095455,4.604545,2.186364,0.740909,0.250000,0.000000,0.000000,0.0
3,가장동,0.000000,0.000000,0.000000,0.964912,0.964912,0.964912,0.964912,0.964912,0.964286,0.963636,0.963636,0.963636,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4,갈마1동,0.321637,0.321637,1.929825,7.719298,8.040936,8.040936,8.040936,8.040936,8.035714,8.030303,8.030303,8.030303,7.709091,2.569697,1.606061,0.642424,0.321212,0.321212,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,판암1동,0.000000,0.000000,1.350877,2.508772,2.508772,2.508772,2.508772,2.508772,2.507143,2.505455,2.505455,2.505455,1.734545,0.963636,0.385455,0.000000,0.000000,0.000000,0.0
73,판암2동,0.000000,0.000000,1.608187,2.251462,2.251462,2.251462,2.251462,2.251462,2.250000,2.248485,2.248485,1.927273,1.284848,0.963636,0.321212,0.000000,0.000000,0.000000,0.0
74,홍도동,0.000000,0.000000,0.964912,4.342105,4.342105,4.342105,4.342105,4.342105,4.339286,4.336364,4.336364,4.336364,2.890909,2.409091,0.481818,0.000000,0.000000,0.000000,0.0
75,회덕동,0.000000,0.000000,0.600000,1.600000,1.600000,1.600000,1.600000,1.600000,1.600000,1.600000,1.600000,1.600000,1.600000,0.600000,0.000000,0.000000,0.000000,0.000000,0.0
76,효동,0.000000,0.000000,1.393762,3.645224,3.645224,3.645224,3.645224,3.645224,3.642857,3.640404,3.640404,3.640404,2.997980,2.141414,1.820202,0.856566,0.214141,0.000000,0.0

In [219]:
df = df.rename(columns = {1:'시동'})

In [522]:
pd.pivot_table(df,index = ['시동'],columns = '시간',values = 'near_phar').reset_index().to_csv('최종_mean.csv')

# 행정동 변환

In [220]:
df = pd.merge(df,mer,on ='행정동', how = 'left')

In [224]:
df

                  날짜  시간  node_id   행정동  near_phar               1
0       2019년 1월 23일   6        0   산내동          0    대전광역시 동구 산내동
1       2019년 1월 23일   6        1   산내동          0    대전광역시 동구 산내동
2       2019년 1월 23일   6        2   산내동          0    대전광역시 동구 산내동
3       2019년 1월 23일   6        3   산내동          0    대전광역시 동구 산내동
4       2019년 1월 23일   6        4   산성동          0    대전광역시 중구 산성동
...              ...  ..      ...   ...        ...             ...
106145   2019년 2월 9일   8      545   덕암동          2   대전광역시 대덕구 덕암동
106146   2019년 2월 9일   8      546   석봉동          0   대전광역시 대덕구 석봉동
106147   2019년 2월 9일   8      547   석봉동          2   대전광역시 대덕구 석봉동
106148   2019년 2월 9일   8      548   석봉동          5   대전광역시 대덕구 석봉동
106149   2019년 2월 9일   8      549  신탄진동          4  대전광역시 대덕구 신탄진동

[106150 rows x 6 columns]

In [225]:
check = df.loc[df[1].isnull()]

In [226]:
check

                  날짜  시간  node_id   행정동  near_phar    1
105     2019년 1월 23일   6      105  유등천동          0  NaN
138     2019년 1월 23일   6      138  유등천동          0  NaN
143     2019년 1월 23일   6      143   문화동          0  NaN
148     2019년 1월 23일   6      148   판암동          0  NaN
149     2019년 1월 23일   6      149   판암동          0  NaN
...              ...  ..      ...   ...        ...  ...
105953   2019년 2월 9일   8      353   둔산동          1  NaN
105963   2019년 2월 9일   8      363   노은동          3  NaN
105994   2019년 2월 9일   8      394   지족동          0  NaN
106004   2019년 2월 9일   8      404   노은동          0  NaN
106016   2019년 2월 9일   8      416   지족동          0  NaN

[3667 rows x 6 columns]

In [234]:
df_check = pd.read_csv('node v3.0.csv')

In [235]:
df_check[df_check['행정동 수정'].str.contains('원신흥동')]

Empty DataFrame
Columns: [node_id, 행정동, node_lat, node_lon, 행정동 원본, 행정동 수정]
Index: []

In [228]:
df_check = df_check.drop(columns = ['node_lat','node_lon','행정동 원본'])

In [229]:
df_check

     node_id   행정동                                       행정동 수정
0          0   산내동                안골로, 동구, 산내동, 대전, 34695, 대한민국
1          1   산내동                산내로, 동구, 산내동, 대전, 34695, 대한민국
2          2   산내동                석천로, 동구, 산내동, 대전, 34695, 대한민국
3          3   산내동          산내로1305번길, 동구, 산내동, 대전, 34695, 대한민국
4          4   산성동          산서로22번길, 산성동, 대전, 중구, 301-756, 대한민국
..       ...   ...                                          ...
545      545   덕암동  덕암도매마트, 덕암로265번길, 대덕구, 덕암동, 대전, 34324, 대한민국
546      546   석봉동        대덕대로1527번길, 대덕구, 석봉동, 대전, 34324, 대한민국
547      547   석봉동                    대덕구, 대전, 석봉동, 34324, 대한민국
548      548   석봉동        대덕대로1605번길, 대덕구, 대전, 석봉동, 34324, 대한민국
549      549  신탄진동        신탄진북로35번길, 대덕구, 신탄진동, 대전, 34324, 대한민국

[550 rows x 3 columns]

In [230]:
주소 = pd.merge(check,df_check,on=['node_id','행정동'] , how ='left')

In [232]:
주소.loc[주소['행정동 수정'].str.contains('원신흥동')]

Empty DataFrame
Columns: [날짜, 시간, node_id, 행정동, near_phar, 1, 행정동 수정]
Index: []

In [84]:
import re

In [85]:
p = re.compile('(?!=\d)\w+\d동')

In [68]:
주소['행정동 수정'].unique()

array(['퀸모텔, 유등천동로324번길, 유천1동, 유천동, 대전, 중구, 34557, 대한민국',
       '파라곤놀이터, 유등천동로, 태평2동, 태평동, 대전, 중구, 34557, 대한민국',
       '계룡로929번길, 문화동하우스토리1차, 문화1동, 대사동, 대전, 중구, 34944, 대한민국',
       '판암2동, 동구, 판암동, 대전, 34659, 대한민국', '판암2동, 동구, 판암동, 대전, 34522, 대한민국',
       '온천1동, 유성구, 온천동, 대전, 대한민국', '온천1동, 유성구, 대전, 온천동, 305-360, 대한민국',
       '온천1동, 유성구, 대전, 온천동, 35279, 대한민국',
       '온천1동, 유성구, 대전, 온천동, 34164, 대한민국',
       '월평1동, 월평동, 대전, 서구, 35279, 대한민국', '둔산2동, 둔산동, 대전, 서구, 35253, 대한민국',
       '갈마2동, 갈마동, 대전, 서구, 35230, 대한민국', '관저2동, 둔산동, 대전, 서구, 대한민국',
       '1002동, 노은동로99번길, 열매마을10단지상록아파트, 유성구, 노은1동, 대전, 노은동, 34164, 대한민국',
       '대전새미래중학교, 55, 지족동로, 유성구, 노은2동, 노은동, 대전, 34134, 대한민국',
       '지족중학교, 노은동로, 열매마을10단지상록아파트, 유성구, 노은1동, 노은동, 대전, 34134, 대한민국',
       '107, 지족동로, 노은2동, 유성구, 노은동, 대전, 34134, 대한민국'], dtype=object)

In [86]:
list_dong = {}
for i,j in zip(주소['행정동 수정'],주소['node_id']):
    a = p.findall(i)
    if a[0][0].isnumeric():
        list_dong.update({j:a[1]})
    else:
        list_dong.update({j:a[0]})

In [87]:
list_dong

{105: '유천1동',
 138: '태평2동',
 143: '문화1동',
 148: '판암2동',
 149: '판암2동',
 199: '온천1동',
 216: '온천1동',
 217: '온천1동',
 239: '온천1동',
 240: '온천1동',
 262: '온천1동',
 266: '월평1동',
 270: '둔산2동',
 320: '갈마2동',
 353: '관저2동',
 363: '노은1동',
 394: '노은2동',
 404: '노은1동',
 416: '노은2동'}

In [449]:
# 나중에 따로 업데이트
list_dong.update({501:'신성동'})
list_dong.update({381: '노은1동'})
list_dong.update({423: '노은2동'})

In [88]:
for i,j in zip(list_dong.keys(),list_dong.values()):
    주소.loc[주소['node_id'] == i,'행정동'] = j

In [192]:
주소.loc[주소['행정동'] == '원신흥동']

Empty DataFrame
Columns: [날짜, 시간, node_id, 행정동, near_phar, 1, 행정동 수정]
Index: []

## near phar 합계 / 노드 수 (평일 15시 기준, 주말 15시 기준 => 전체 데이터에서 구하기)
- 동별로 groupby 해서 near_phar를 동의 node 수만큼

In [2]:
df = pd.read_csv('weakness v3.0.csv')

In [3]:
df

                   날짜  시간  node_id  near_phar   행정동
0       2019년 10월 10일   6        0          0   산내동
1       2019년 10월 10일   6        1          0   산내동
2       2019년 10월 10일   6        2          0   산내동
3       2019년 10월 10일   6        3          0   산내동
4       2019년 10월 10일   6        4          0   산성동
...               ...  ..      ...        ...   ...
794745   2019년 9월 19일  13      545          5   덕암동
794746   2019년 9월 19일  13      546          2   석봉동
794747   2019년 9월 19일  13      547          7   석봉동
794748   2019년 9월 19일  13      548         11   석봉동
794749   2019년 9월 19일  13      549          8  신탄진동

[794750 rows x 5 columns]

In [11]:
df.groupby('행정동')['near_phar'].mean().reset_index().to_csv('result_phar_dong.csv',index = False)

In [22]:
df_10 = pd.read_csv('resid_people_revised.csv')

In [23]:
df_10[df_10['행정동'] == '온천1동']

     Unnamed: 0      시    구   행정동 성별     연령대  거주인구
912         912  대전광역시  유성구  온천1동  남  10대 미만  1117
913         913  대전광역시  유성구  온천1동  남     10대   814
914         914  대전광역시  유성구  온천1동  남     20대  4106
915         915  대전광역시  유성구  온천1동  남     30대  3732
916         916  대전광역시  유성구  온천1동  남     40대  2316
917         917  대전광역시  유성구  온천1동  남     50대  2753
918         918  대전광역시  유성구  온천1동  남     60대  1939
919         919  대전광역시  유성구  온천1동  남  70대 이상   862
920         920  대전광역시  유성구  온천1동  여  10대 미만   420
921         921  대전광역시  유성구  온천1동  여     10대   288
922         922  대전광역시  유성구  온천1동  여     20대  1615
923         923  대전광역시  유성구  온천1동  여     30대  1583
924         924  대전광역시  유성구  온천1동  여     40대   937
925         925  대전광역시  유성구  온천1동  여     50대  1357
926         926  대전광역시  유성구  온천1동  여     60대  1148
927         927  대전광역시  유성구  온천1동  여  70대 이상  1992

In [24]:
df_10_group = df_10.groupby(['행정동','연령대'])['거주인구'].sum().reset_index()

In [30]:
df_10_group1 = df_10.groupby('행정동')['거주인구'].sum().reset_index()

In [32]:
df_age_10 = df_10_group.loc[(df_10_group['연령대'] == '10대') | (df_10_group['연령대'] == '10대 미만')].groupby('행정동').sum().reset_index()

In [33]:
df_age_10

     행정동  거주인구
0   가수원동  9310
1   가양1동  1716
2   가양2동  2471
3    가장동  1777
4   갈마1동  2661
..   ...   ...
74  판암1동  1678
75  판암2동   625
76   홍도동  1302
77   회덕동  1617
78    효동  5448

[79 rows x 2 columns]

In [34]:
df_10_group1['10대 인구수'] = df_age_10['거주인구']

In [36]:
df_10_group1['ratio_10']  = df_10_group1['10대 인구수']/df_10_group1['거주인구']

In [38]:
df_10_group1.to_csv('10대 뽑아라.csv')

In [7]:
df_10_group_1 = df_10.groupby(['행정동'])['거주인구'].sum().reset_index()

In [21]:
df_10_group_1.loc[df_10_group_1['행정동'] == '가수원동']['거주인구'][0]

34012

In [50]:
def ratio_resid(i):
    data = df_10_group.loc[df_10_group['행정동'] == i].pivot(index= '행정동',columns= '연령대', values = '거주인구')
    value = data['10대'][0] * 5 + data['10대 미만'][0] * 15 + data['20대'][0] * 25 + data['30대'][0] * 35 + data['40대'][0] * 45 + data['50대'][0] * 55 + data['60대'][0] * 65 + data['70대 이상'][0] * 75
    resid = list(df_10_group_1.loc[df_10_group_1['행정동'] == i]['거주인구'])[0]
    ratio = value / resid
    return [i, int(ratio)]

In [51]:
list_dong = []
for i in df_10_group['행정동'].unique():
    b = ratio_resid(i)
    list_dong.append(b)

In [77]:
a = pd.DataFrame(list_dong, columns = ['행정동','평균 나이'])

In [101]:
pd.set_option('display.max_rows', 10)

In [80]:
a

      행정동  평균 나이
0    가수원동     37
1    가양1동     45
2    가양2동     43
3     가장동     43
4    갈마1동     41
5    갈마2동     39
6    관저1동     40
7    관저2동     37
8     관평동     36
9     괴정동     40
10    구즉동     39
11    기성동     55
12     내동     41
13   노은1동     37
14   노은2동     38
15   노은3동     37
16     대동     42
17    대사동     48
18    대청동     53
19    대화동     47
20    대흥동     43
21    덕암동     43
22   도마1동     46
23   도마2동     46
24   둔산1동     36
25   둔산2동     38
26   둔산3동     41
27    만년동     38
28     목동     37
29    목상동     40
30    문창동     50
31   문화1동     40
32   문화2동     46
33    법1동     46
34    법2동     44
35     변동     44
36    복수동     39
37    부사동     48
38    비래동     43
39    산내동     41
40    산성동     46
41    삼성동     46
42    석교동     47
43    석봉동     39
44    성남동     45
45    송촌동     39
46    신성동     36
47    신인동     45
48   신탄진동     46
49    오류동     45
50    오정동     45
51   온천1동     42
52   온천2동     39
53    용두동     44
54    용문동     44
55    용운동     43
56    용전동     42
57   원신흥동     38
58   월평1동     41
59   월평2동     46
60   월평3동     40
61   유천1동     46
62   유천2동     46
63  은행선화동     44
64    자양동     43
65    전민동     37
66    정림동     44
67    중리동     43
68    중앙동     55
69    중촌동     45
70    진잠동     41
71    탄방동     40
72   태평1동     41
73   태평2동     42
74   판암1동     45
75   판암2동     52
76    홍도동     44
77    회덕동     46
78     효동     40

In [81]:
df_11 = pd.read_csv('float_people_revised.csv')

In [82]:
del df_11['Unnamed: 0']

In [83]:
df_11

            시    구  행정동     년  월  시간대 성별     연령대   유동인구
0       대전광역시   동구  중앙동  2019  1    0  남  10대 미만    138
1       대전광역시   동구  중앙동  2019  1    0  남     10대   2518
2       대전광역시   동구  중앙동  2019  1    0  남     20대  18576
3       대전광역시   동구  중앙동  2019  1    0  남     30대  13751
4       대전광역시   동구  중앙동  2019  1    0  남     40대  16533
...       ...  ...  ...   ... ..  ... ..     ...    ...
455035  대전광역시  대덕구  법2동  2020  3   23  여     30대   4518
455036  대전광역시  대덕구  법2동  2020  3   23  여     40대   4187
455037  대전광역시  대덕구  법2동  2020  3   23  여     50대   6225
455038  대전광역시  대덕구  법2동  2020  3   23  여     60대   2019
455039  대전광역시  대덕구  법2동  2020  3   23  여  70대 이상    213

[455040 rows x 9 columns]

In [84]:
df_11['유동인구'] = df_11['유동인구'].replace(' - ', 0)
df_11['유동인구'] = df_11['유동인구'].astype(int)

In [85]:
df_11_group = df_11.groupby(['행정동','연령대'])['유동인구'].mean().reset_index()

In [86]:
df_11_group

       행정동     연령대           유동인구
0     가수원동     10대   17672.820833
1     가수원동  10대 미만     431.368056
2     가수원동     20대   64446.908333
3     가수원동     30대   42932.020833
4     가수원동     40대   44696.641667
5     가수원동     50대   52672.556944
6     가수원동     60대   28383.375000
7     가수원동  70대 이상    6896.826389
8     가양1동     10대    9313.709722
9     가양1동  10대 미만     400.930556
10    가양1동     20대   35225.668056
11    가양1동     30대   20653.205556
12    가양1동     40대   25744.322222
13    가양1동     50대   30443.118056
14    가양1동     60대   20828.894444
15    가양1동  70대 이상    6550.031944
16    가양2동     10대   18068.977778
17    가양2동  10대 미만     269.369444
18    가양2동     20대   42922.237500
19    가양2동     30대   20657.980556
20    가양2동     40대   25840.101389
21    가양2동     50대   32443.050000
22    가양2동     60대   20179.984722
23    가양2동  70대 이상    6062.573611
24     가장동     10대    8501.752778
25     가장동  10대 미만     824.256944
26     가장동     20대   22501.456944
27     가장동     30대   23062.448611
28     가장동     40대   28952.827778
29     가장동     50대   34244.581944
30     가장동     60대   23173.877778
31     가장동  70대 이상    7806.936111
32    갈마1동     10대   11813.850000
33    갈마1동  10대 미만     271.145833
34    갈마1동     20대   60413.415278
35    갈마1동     30대   46617.956944
36    갈마1동     40대   43313.544444
37    갈마1동     50대   52542.683333
38    갈마1동     60대   35198.036111
39    갈마1동  70대 이상    8331.087500
40    갈마2동     10대   10107.229167
41    갈마2동  10대 미만     234.531944
42    갈마2동     20대   59293.858333
43    갈마2동     30대   41442.984722
44    갈마2동     40대   36166.426389
45    갈마2동     50대   41907.954167
46    갈마2동     60대   27837.480556
47    갈마2동  70대 이상    6486.511111
48    관저1동     10대   12154.315278
49    관저1동  10대 미만     909.100000
50    관저1동     20대   34825.619444
51    관저1동     30대   31347.076389
52    관저1동     40대   33598.209722
53    관저1동     50대   35718.622222
54    관저1동     60대   18607.937500
55    관저1동  70대 이상    5549.280556
56    관저2동     10대   26657.241667
57    관저2동  10대 미만    1721.113889
58    관저2동     20대   69721.775000
59    관저2동     30대   68739.437500
60    관저2동     40대   76623.847222
61    관저2동     50대   72475.741667
62    관저2동     60대   34384.387500
63    관저2동  70대 이상    9093.023611
64     관평동     10대   23773.825000
65     관평동  10대 미만    1609.591667
66     관평동     20대   67920.704167
67     관평동     30대   84818.727778
68     관평동     40대   93078.829167
69     관평동     50대   84544.069444
70     관평동     60대   41075.601389
71     관평동  70대 이상    6159.547222
72     괴정동     10대   10124.666667
73     괴정동  10대 미만     319.450000
74     괴정동     20대   61983.325000
75     괴정동     30대   53117.768056
76     괴정동     40대   45343.643056
77     괴정동     50대   48455.608333
78     괴정동     60대   31673.345833
79     괴정동  70대 이상    7924.059722
80     구즉동     10대   16231.237500
81     구즉동  10대 미만    1686.025000
82     구즉동     20대   37136.327778
83     구즉동     30대   49063.834722
84     구즉동     40대   54158.809722
85     구즉동     50대   53030.325000
86     구즉동     60대   23210.801389
87     구즉동  70대 이상    5040.916667
88     기성동     10대      60.495833
89     기성동  10대 미만       1.287500
90     기성동     20대    1201.334722
91     기성동     30대    1544.555556
92     기성동     40대    3197.026389
93     기성동     50대    5351.572222
94     기성동     60대    1781.923611
95     기성동  70대 이상     286.179167
96      내동     10대    7379.025000
97      내동  10대 미만     396.808333
98      내동     20대   24531.530556
99      내동     30대   24788.450000
100     내동     40대   29816.794444
101     내동     50대   34434.951389
102     내동     60대   24026.443056
103     내동  70대 이상    6712.440278
104   노은1동     10대    8380.608333
105   노은1동  10대 미만     270.726389
106   노은1동     20대   34872.518056
107   노은1동     30대   44174.608333
108   노은1동     40대   53354.941667
109   노은1동     50대   54699.331944
110   노은1동     60대   25215.988889
111   노은1동  70대 이상    5204.561111
112   노은2동     10대    8122.069444
113   노은2동  10대 미만     245.520833
114   노은2동     20대   35325.726389
115   노은2동     30대   42726.384722
116   노은2동     40대   49484.779167
117   노은2동     50대   46625.915278
118   노은2동     60대   18503.347222
119   노은2동  70대 이상    3535.854167
120   노은3동     10대    6673.977778
121   노은3동  10대 미만     332.676389
122   노은3동     20대   20280.970833
123   노은3동     30대   28376.134722
124   노은3동     40대   32375.056944
125   노은3동     50대   27265.901389
126   노은3동     60대   13297.486111
127   노은3동  70대 이상    2872.184722
128     대동     10대   10626.101389
129     대동  10대 미만     204.977778
130     대동     20대   22067.322222
131     대동     30대   14133.663889
132     대동     40대   16116.801389
133     대동     50대   19845.384722
134     대동     60대   14709.065278
135     대동  70대 이상    4406.320833
136    대사동     10대    2758.111111
137    대사동  10대 미만      89.020833
138    대사동     20대   20796.920833
139    대사동     30대   18772.605556
140    대사동     40대   20393.205556
141    대사동     50대   25371.755556
142    대사동     60대   18224.990278
143    대사동  70대 이상    6894.162500
144    대청동     10대     317.234722
145    대청동  10대 미만      10.675000
146    대청동     20대    3828.251389
147    대청동     30대    5772.383333
148    대청동     40대   11952.568056
149    대청동     50대   19961.668056
150    대청동     60대    6466.430556
151    대청동  70대 이상     953.618056
152    대화동     10대    3084.765278
153    대화동  10대 미만     217.369444
154    대화동     20대   22162.248611
155    대화동     30대   32718.606944
156    대화동     40대   41639.611111
157    대화동     50대   47358.556944
158    대화동     60대   23921.794444
159    대화동  70대 이상    3774.008333
160    대흥동     10대   12493.850000
161    대흥동  10대 미만     183.412500
162    대흥동     20대   64485.043056
163    대흥동     30대   43375.586111
164    대흥동     40대   46163.805556
165    대흥동     50대   51951.948611
166    대흥동     60대   37342.734722
167    대흥동  70대 이상   13287.593056
168    덕암동     10대    4329.406944
169    덕암동  10대 미만      28.952778
170    덕암동     20대   35553.637500
171    덕암동     30대   37815.894444
172    덕암동     40대   49373.879167
173    덕암동     50대   59234.365278
174    덕암동     60대   22913.458333
175    덕암동  70대 이상    4359.344444
176   도마1동     10대   23124.611111
177   도마1동  10대 미만     992.430556
178   도마1동     20대   41872.418056
179   도마1동     30대   30611.980556
180   도마1동     40대   46350.397222
181   도마1동     50대   61721.419444
182   도마1동     60대   45556.779167
183   도마1동  70대 이상   15837.718056
184   도마2동     10대   19130.019444
185   도마2동  10대 미만     532.626389
186   도마2동     20대   46229.720833
187   도마2동     30대   22656.013889
188   도마2동     40대   30342.001389
189   도마2동     50대   39101.522222
190   도마2동     60대   28080.950000
191   도마2동  70대 이상    8874.826389
192   둔산1동     10대   23069.581944
193   둔산1동  10대 미만     544.062500
194   둔산1동     20대   67253.350000
195   둔산1동     30대   58204.801389
196   둔산1동     40대   75152.933333
197   둔산1동     50대   71873.212500
198   둔산1동     60대   40245.118056
199   둔산1동  70대 이상   10951.605556
200   둔산2동     10대   44301.290278
201   둔산2동  10대 미만     774.018056
202   둔산2동     20대  225182.713889
203   둔산2동     30대  145254.273611
204   둔산2동     40대  141499.493056
205   둔산2동     50대  151988.097222
206   둔산2동     60대   92372.898611
207   둔산2동  70대 이상   22407.379167
208   둔산3동     10대   12411.775000
209   둔산3동  10대 미만    1093.248611
210   둔산3동     20대   25894.018056
211   둔산3동     30대   26607.409722
212   둔산3동     40대   39440.522222
213   둔산3동     50대   48678.750000
214   둔산3동     60대   35598.845833
215   둔산3동  70대 이상   10164.563889
216    만년동     10대    7913.262500
217    만년동  10대 미만     138.325000
218    만년동     20대   37622.327778
219    만년동     30대   35433.644444
220    만년동     40대   37958.379167
221    만년동     50대   43221.802778
222    만년동     60대   24158.122222
223    만년동  70대 이상    5077.636111
224     목동     10대   12931.627778
225     목동  10대 미만    1628.116667
226     목동     20대   18394.809722
227     목동     30대   19863.376389
228     목동     40대   26448.713889
229     목동     50대   23023.983333
230     목동     60대   13703.238889
231     목동  70대 이상    4870.030556
232    목상동     10대    1226.875000
233    목상동  10대 미만      59.462500
234    목상동     20대   25999.612500
235    목상동     30대   36958.944444
236    목상동     40대   39229.475000
237    목상동     50대   43919.768056
238    목상동     60대   10551.261111
239    목상동  70대 이상     903.756944
240    문창동     10대    1299.597222
241    문창동  10대 미만      26.934722
242    문창동     20대    7591.984722
243    문창동     30대    8118.090278
244    문창동     40대   10290.236111
245    문창동     50대   14104.695833
246    문창동     60대   10120.997222
247    문창동  70대 이상    3294.447222
248   문화1동     10대   22155.044444
249   문화1동  10대 미만    1151.470833
250   문화1동     20대   59967.595833
251   문화1동     30대   50649.038889
252   문화1동     40대   58875.981944
253   문화1동     50대   60714.423611
254   문화1동     60대   40070.841667
255   문화1동  70대 이상   14943.930556
256   문화2동     10대    5905.180556
257   문화2동  10대 미만     329.311111
258   문화2동     20대   11915.505556
259   문화2동     30대   11024.286111
260   문화2동     40대   14704.831944
261   문화2동     50대   19177.548611
262   문화2동     60대   12913.133333
263   문화2동  70대 이상    4747.695833
264    법1동     10대    2344.333333
265    법1동  10대 미만      88.501389
266    법1동     20대   11199.480556
267    법1동     30대    9584.450000
268    법1동     40대   12832.268056
269    법1동     50대   17405.756944
270    법1동     60대   11063.266667
271    법1동  70대 이상    2751.506944
272    법2동     10대    4029.106944
273    법2동  10대 미만     184.294444
274    법2동     20대   14679.911111
275    법2동     30대   13696.529167
276    법2동     40대   18145.329167
277    법2동     50대   24473.637500
278    법2동     60대   14363.520833
279    법2동  70대 이상    3309.505556
280     변동     10대   11905.720833
281     변동  10대 미만    1166.526389
282     변동     20대   25187.647222
283     변동     30대   27081.215278
284     변동     40대   37448.636111
285     변동     50대   44411.945833
286     변동     60대   28772.047222
287     변동  70대 이상    9860.848611
288    복수동     10대   32782.155556
289    복수동  10대 미만    2052.379167
290    복수동     20대   45706.718056
291    복수동     30대   41454.190278
292    복수동     40대   58673.238889
293    복수동     50대   63686.327778
294    복수동     60대   43343.900000
295    복수동  70대 이상   13432.775000
296    부사동     10대    3699.525000
297    부사동  10대 미만      71.330556
298    부사동     20대    9277.668056
299    부사동     30대    9500.130556
300    부사동     40대   12573.812500
301    부사동     50대   16163.297222
302    부사동     60대   11490.941667
303    부사동  70대 이상    3664.633333
304    비래동     10대    6748.255556
305    비래동  10대 미만     203.294444
306    비래동     20대   25749.980556
307    비래동     30대   22662.030556
308    비래동     40대   31280.504167
309    비래동     50대   37855.852778
310    비래동     60대   18954.450000
311    비래동  70대 이상    4927.118056
312    산내동     10대    3906.648611
313    산내동  10대 미만     261.431944
314    산내동     20대   13871.450000
315    산내동     30대   21527.276389
316    산내동     40대   32659.570833
317    산내동     50대   37948.529167
318    산내동     60대   16826.883333
319    산내동  70대 이상    4085.108333
320    산성동     10대   25511.790278
321    산성동  10대 미만    2312.619444
322    산성동     20대   37488.263889
323    산성동     30대   47658.400000
324    산성동     40대   73872.916667
325    산성동     50대   96612.943056
326    산성동     60대   65378.247222
327    산성동  70대 이상   19929.136111
328    삼성동     10대    7208.187500
329    삼성동  10대 미만     146.502778
330    삼성동     20대   28923.870833
331    삼성동     30대   28445.941667
332    삼성동     40대   34683.401389
333    삼성동     50대   42060.197222
334    삼성동     60대   29400.366667
335    삼성동  70대 이상    8770.480556
336    석교동     10대    5565.255556
337    석교동  10대 미만     369.636111
338    석교동     20대   15676.718056
339    석교동     30대   18673.397222
340    석교동     40대   23999.343056
341    석교동     50대   28468.570833
342    석교동     60대   18071.365278
343    석교동  70대 이상    5080.219444
344    석봉동     10대   11679.025000
345    석봉동  10대 미만    1266.855556
346    석봉동     20대   37258.098611
347    석봉동     30대   41930.276389
348    석봉동     40대   45850.870833
349    석봉동     50대   52166.494444
350    석봉동     60대   23608.784722
351    석봉동  70대 이상    6107.466667
352    성남동     10대    5587.312500
353    성남동  10대 미만     393.380556
354    성남동     20대   24620.070833
355    성남동     30대   22014.047222
356    성남동     40대   24350.980556
357    성남동     50대   29421.486111
358    성남동     60대   21315.577778
359    성남동  70대 이상    6479.287500
360    송촌동     10대   14736.400000
361    송촌동  10대 미만     682.525000
362    송촌동     20대   34618.476389
363    송촌동     30대   29458.815278
364    송촌동     40대   41235.559722
365    송촌동     50대   45673.166667
366    송촌동     60대   20552.230556
367    송촌동  70대 이상    4980.993056
368    신성동     10대   23107.300000
369    신성동  10대 미만     976.812500
370    신성동     20대  130355.533333
371    신성동     30대  127692.820833
372    신성동     40대  126809.731944
373    신성동     50대  125951.809722
374    신성동     60대   51031.041667
375    신성동  70대 이상    5725.309722
376    신인동     10대    6337.581944
377    신인동  10대 미만     434.004167
378    신인동     20대   27627.902778
379    신인동     30대   29503.315278
380    신인동     40대   31005.780556
381    신인동     50대   37645.036111
382    신인동     60대   26406.144444
383    신인동  70대 이상    7774.884722
384   신탄진동     10대    3808.755556
385   신탄진동  10대 미만      68.676389
386   신탄진동     20대   17578.676389
387   신탄진동     30대   16120.113889
388   신탄진동     40대   20914.969444
389   신탄진동     50대   30035.200000
390   신탄진동     60대   14421.766667
391   신탄진동  70대 이상    5008.080556
392    오류동     10대   10573.681944
393    오류동  10대 미만     545.516667
394    오류동     20대   41914.102778
395    오류동     30대   36890.822222
396    오류동     40대   41763.169444
397    오류동     50대   46475.687500
398    오류동     60대   32956.776389
399    오류동  70대 이상   11090.765278
400    오정동     10대   30488.558333
401    오정동  10대 미만     934.059722
402    오정동     20대  111970.776389
403    오정동     30대   75170.530556
404    오정동     40대  100141.962500
405    오정동     50대  131454.056944
406    오정동     60대   88697.561111
407    오정동  70대 이상   23288.459722
408   온천1동     10대   31782.437500
409   온천1동  10대 미만     980.713889
410   온천1동     20대  220218.333333
411   온천1동     30대  163854.165278
412   온천1동     40대  155172.879167
413   온천1동     50대  187723.323611
414   온천1동     60대  103545.072222
415   온천1동  70대 이상   23704.713889
416   온천2동     10대   53000.370833
417   온천2동  10대 미만    1339.872222
418   온천2동     20대  318930.140278
419   온천2동     30대  157503.076389
420   온천2동     40대  137576.598611
421   온천2동     50대  151037.984722
422   온천2동     60대   85483.747222
423   온천2동  70대 이상   17836.347222
424    용두동     10대   11022.365278
425    용두동  10대 미만     976.058333
426    용두동     20대   33950.334722
427    용두동     30대   28513.955556
428    용두동     40대   33551.647222
429    용두동     50대   35865.134722
430    용두동     60대   24350.280556
431    용두동  70대 이상    8485.579167
432    용문동     10대   15973.980556
433    용문동  10대 미만    1698.536111
434    용문동     20대   55487.802778
435    용문동     30대   45855.061111
436    용문동     40대   50873.155556
437    용문동     50대   56719.976389
438    용문동     60대   38946.669444
439    용문동  70대 이상   12541.218056
440    용운동     10대   17470.318056
441    용운동  10대 미만     172.684722
442    용운동     20대   51648.380556
443    용운동     30대   16064.179167
444    용운동     40대   20750.713889
445    용운동     50대   27749.536111
446    용운동     60대   18217.975000
447    용운동  70대 이상    4375.901389
448    용전동     10대   16751.944444
449    용전동  10대 미만     633.801389
450    용전동     20대   82858.995833
451    용전동     30대   50291.058333
452    용전동     40대   56617.900000
453    용전동     50대   68914.245833
454    용전동     60대   46365.629167
455    용전동  70대 이상   13097.263889
456   원신흥동     10대   17552.338889
457   원신흥동  10대 미만    1836.275000
458   원신흥동     20대   58277.836111
459   원신흥동     30대   71429.406944
460   원신흥동     40대   61757.790278
461   원신흥동     50대   60703.563889
462   원신흥동     60대   33537.444444
463   원신흥동  70대 이상    7226.713889
464   월평1동     10대    3141.043056
465   월평1동  10대 미만      32.030556
466   월평1동     20대   36923.798611
467   월평1동     30대   32122.481944
468   월평1동     40대   31384.454167
469   월평1동     50대   38990.447222
470   월평1동     60대   26417.406944
471   월평1동  70대 이상    5600.793056
472   월평2동     10대    8404.227778
473   월평2동  10대 미만     122.093056
474   월평2동     20대   28199.551389
475   월평2동     30대   22523.543056
476   월평2동     40대   25257.209722
477   월평2동     50대   29105.898611
478   월평2동     60대   18180.431944
479   월평2동  70대 이상    4395.645833
480   월평3동     10대    5112.075000
481   월평3동  10대 미만      33.738889
482   월평3동     20대   20894.098611
483   월평3동     30대   16560.086111
484   월평3동     40대   17409.819444
485   월평3동     50대   22237.884722
486   월평3동     60대   14296.838889
487   월평3동  70대 이상    2997.265278
488   유천1동     10대    8217.211111
489   유천1동  10대 미만    1303.594444
490   유천1동     20대   20068.118056
491   유천1동     30대   17222.731944
492   유천1동     40대   24037.579167
493   유천1동     50대   27984.923611
494   유천1동     60대   19433.173611
495   유천1동  70대 이상    7145.572222
496   유천2동     10대    6943.033333
497   유천2동  10대 미만     370.758333
498   유천2동     20대   19701.266667
499   유천2동     30대   20116.094444
500   유천2동     40대   23474.043056
501   유천2동     50대   27310.979167
502   유천2동     60대   21202.131944
503   유천2동  70대 이상    7555.676389
504  은행선화동     10대   23835.516667
505  은행선화동  10대 미만     451.881944
506  은행선화동     20대   92191.922222
507  은행선화동     30대   56725.319444
508  은행선화동     40대   62178.588889
509  은행선화동     50대   67858.284722
510  은행선화동     60대   49063.180556
511  은행선화동  70대 이상   15162.466667
512    자양동     10대   20684.333333
513    자양동  10대 미만      35.156944
514    자양동     20대   48989.729167
515    자양동     30대    8800.423611
516    자양동     40대   11419.661111
517    자양동     50대   12725.194444
518    자양동     60대    9399.773611
519    자양동  70대 이상    2890.669444
520    전민동     10대   13909.223611
521    전민동  10대 미만     501.852778
522    전민동     20대   63945.948611
523    전민동     30대   65629.212500
524    전민동     40대   68656.143056
525    전민동     50대   75029.805556
526    전민동     60대   34769.650000
527    전민동  70대 이상    5599.295833
528    정림동     10대    6548.162500
529    정림동  10대 미만     457.313889
530    정림동     20대   20032.734722
531    정림동     30대   18864.386111
532    정림동     40대   23827.605556
533    정림동     50대   33291.168056
534    정림동     60대   20123.812500
535    정림동  70대 이상    5649.955556
536    중리동     10대   10581.187500
537    중리동  10대 미만     387.545833
538    중리동     20대   41432.523611
539    중리동     30대   32236.150000
540    중리동     40대   43932.586111
541    중리동     50대   54868.662500
542    중리동     60대   33593.862500
543    중리동  70대 이상    8055.254167
544    중앙동     10대   13386.237500
545    중앙동  10대 미만     326.830556
546    중앙동     20대   59526.098611
547    중앙동     30대   43366.588889
548    중앙동     40대   48669.390278
549    중앙동     50대   66387.050000
550    중앙동     60대   57555.879167
551    중앙동  70대 이상   20186.855556
552    중촌동     10대    6649.391667
553    중촌동  10대 미만     502.797222
554    중촌동     20대   27542.413889
555    중촌동     30대   28840.931944
556    중촌동     40대   37797.669444
557    중촌동     50대   47024.334722
558    중촌동     60대   33181.011111
559    중촌동  70대 이상    9296.418056
560    진잠동     10대   14967.868056
561    진잠동  10대 미만     416.294444
562    진잠동     20대   54965.362500
563    진잠동     30대   61580.301389
564    진잠동     40대   85960.668056
565    진잠동     50대   96277.409722
566    진잠동     60대   35129.572222
567    진잠동  70대 이상    6575.372222
568    탄방동     10대   31108.738889
569    탄방동  10대 미만    1335.816667
570    탄방동     20대  116385.133333
571    탄방동     30대  100444.159722
572    탄방동     40대   98905.663889
573    탄방동     50대  105545.773611
574    탄방동     60대   65578.913889
575    탄방동  70대 이상   17349.845833
576   태평1동     10대    6884.881944
577   태평1동  10대 미만     428.806944
578   태평1동     20대   16085.748611
579   태평1동     30대   17116.050000
580   태평1동     40대   23386.380556
581   태평1동     50대   24742.705556
582   태평1동     60대   17792.190278
583   태평1동  70대 이상    6194.176389
584   태평2동     10대   37848.738889
585   태평2동  10대 미만    4663.829167
586   태평2동     20대   48070.762500

In [202]:
df_11_group.pivot(index= '행정동',columns = '연령대',values='유동인구').reset_index().to_csv('유동인구_평균.csv',index = False)

In [87]:
df_11_group.pivot(index= '행정동',columns = '연령대',values='유동인구').reset_index()

연령대,행정동,10대,10대 미만,20대,30대,40대,50대,60대,70대 이상
0,가수원동,17672.820833,431.368056,64446.908333,42932.020833,44696.641667,52672.556944,28383.375000,6896.826389
1,가양1동,9313.709722,400.930556,35225.668056,20653.205556,25744.322222,30443.118056,20828.894444,6550.031944
2,가양2동,18068.977778,269.369444,42922.237500,20657.980556,25840.101389,32443.050000,20179.984722,6062.573611
3,가장동,8501.752778,824.256944,22501.456944,23062.448611,28952.827778,34244.581944,23173.877778,7806.936111
4,갈마1동,11813.850000,271.145833,60413.415278,46617.956944,43313.544444,52542.683333,35198.036111,8331.087500
5,갈마2동,10107.229167,234.531944,59293.858333,41442.984722,36166.426389,41907.954167,27837.480556,6486.511111
6,관저1동,12154.315278,909.100000,34825.619444,31347.076389,33598.209722,35718.622222,18607.937500,5549.280556
7,관저2동,26657.241667,1721.113889,69721.775000,68739.437500,76623.847222,72475.741667,34384.387500,9093.023611
8,관평동,23773.825000,1609.591667,67920.704167,84818.727778,93078.829167,84544.069444,41075.601389,6159.547222
9,괴정동,10124.666667,319.450000,61983.325000,53117.768056,45343.643056,48455.608333,31673.345833,7924.059722
10,구즉동,16231.237500,1686.025000,37136.327778,49063.834722,54158.809722,53030.325000,23210.801389,5040.916667
11,기성동,60.495833,1.287500,1201.334722,1544.555556,3197.026389,5351.572222,1781.923611,286.179167
12,내동,7379.025000,396.808333,24531.530556,24788.450000,29816.794444,34434.951389,24026.443056,6712.440278
13,노은1동,8380.608333,270.726389,34872.518056,44174.608333,53354.941667,54699.331944,25215.988889,5204.561111
14,노은2동,8122.069444,245.520833,35325.726389,42726.384722,49484.779167,46625.915278,18503.347222,3535.854167
15,노은3동,6673.977778,332.676389,20280.970833,28376.134722,32375.056944,27265.901389,13297.486111,2872.184722
16,대동,10626.101389,204.977778,22067.322222,14133.663889,16116.801389,19845.384722,14709.065278,4406.320833
17,대사동,2758.111111,89.020833,20796.920833,18772.605556,20393.205556,25371.755556,18224.990278,6894.162500
18,대청동,317.234722,10.675000,3828.251389,5772.383333,11952.568056,19961.668056,6466.430556,953.618056
19,대화동,3084.765278,217.369444,22162.248611,32718.606944,41639.611111,47358.556944,23921.794444,3774.008333
20,대흥동,12493.850000,183.412500,64485.043056,43375.586111,46163.805556,51951.948611,37342.734722,13287.593056
21,덕암동,4329.406944,28.952778,35553.637500,37815.894444,49373.879167,59234.365278,22913.458333,4359.344444
22,도마1동,23124.611111,992.430556,41872.418056,30611.980556,46350.397222,61721.419444,45556.779167,15837.718056
23,도마2동,19130.019444,532.626389,46229.720833,22656.013889,30342.001389,39101.522222,28080.950000,8874.826389
24,둔산1동,23069.581944,544.062500,67253.350000,58204.801389,75152.933333,71873.212500,40245.118056,10951.605556
25,둔산2동,44301.290278,774.018056,225182.713889,145254.273611,141499.493056,151988.097222,92372.898611,22407.379167
26,둔산3동,12411.775000,1093.248611,25894.018056,26607.409722,39440.522222,48678.750000,35598.845833,10164.563889
27,만년동,7913.262500,138.325000,37622.327778,35433.644444,37958.379167,43221.802778,24158.122222,5077.636111
28,목동,12931.627778,1628.116667,18394.809722,19863.376389,26448.713889,23023.983333,13703.238889,4870.030556
29,목상동,1226.875000,59.462500,25999.612500,36958.944444,39229.475000,43919.768056,10551.261111,903.756944
30,문창동,1299.597222,26.934722,7591.984722,8118.090278,10290.236111,14104.695833,10120.997222,3294.447222
31,문화1동,22155.044444,1151.470833,59967.595833,50649.038889,58875.981944,60714.423611,40070.841667,14943.930556
32,문화2동,5905.180556,329.311111,11915.505556,11024.286111,14704.831944,19177.548611,12913.133333,4747.695833
33,법1동,2344.333333,88.501389,11199.480556,9584.450000,12832.268056,17405.756944,11063.266667,2751.506944
34,법2동,4029.106944,184.294444,14679.911111,13696.529167,18145.329167,24473.637500,14363.520833,3309.505556
35,변동,11905.720833,1166.526389,25187.647222,27081.215278,37448.636111,44411.945833,28772.047222,9860.848611
36,복수동,32782.155556,2052.379167,45706.718056,41454.190278,58673.238889,63686.327778,43343.900000,13432.775000
37,부사동,3699.525000,71.330556,9277.668056,9500.130556,12573.812500,16163.297222,11490.941667,3664.633333
38,비래동,6748.255556,203.294444,25749.980556,22662.030556,31280.504167,37855.852778,18954.450000,4927.118056
39,산내동,3906.648611,261.431944,13871.450000,21527.276389,32659.570833,37948.529167,16826.883333,4085.108333
40,산성동,25511.790278,2312.619444,37488.263889,47658.400000,73872.916667,96612.943056,65378.247222,19929.136111
41,삼성동,7208.187500,146.502778,28923.870833,28445.941667,34683.401389,42060.197222,29400.366667,8770.480556
42,석교동,5565.255556,369.636111,15676.718056,18673.397222,23999.343056,28468.570833,18071.365278,5080.219444
43,석봉동,11679.025000,1266.855556,37258.098611,41930.276389,45850.870833,52166.494444,23608.784722,6107.466667
44,성남동,5587.312500,393.380556,24620.070833,22014.047222,24350.980556,29421.486111,21315.577778,6479.287500
45,송촌동,14736.400000,682.525000,34618.476389,29458.815278,41235.559722,45673.166667,20552.230556,4980.993056
46,신성동,23107.300000,976.812500,130355.533333,127692.820833,126809.731944,125951.809722,51031.041667,5725.309722
47,신인동,6337.581944,434.004167,27627.902778,29503.315278,31005.780556,37645.036111,26406.144444,7774.884722
48,신탄진동,3808.755556,68.676389,17578.676389,16120.113889,20914.969444,30035.200000,14421.766667,5008.080556
49,오류동,10573.681944,545.516667,41914.102778,36890.822222,41763.169444,46475.687500,32956.776389,11090.765278
50,오정동,30488.558333,934.059722,111970.776389,75170.530556,100141.962500,131454.056944,88697.561111,23288.459722
51,온천1동,31782.437500,980.713889,220218.333333,163854.165278,155172.879167,187723.323611,103545.072222,23704.713889
52,온천2동,53000.370833,1339.872222,318930.140278,157503.076389,137576.598611,151037.984722,85483.747222,17836.347222
53,용두동,11022.365278,976.058333,33950.334722,28513.955556,33551.647222,35865.134722,24350.280556,8485.579167
54,용문동,15973.980556,1698.536111,55487.802778,45855.061111,50873.155556,56719.976389,38946.669444,12541.218056
55,용운동,17470.318056,172.684722,51648.380556,16064.179167,20750.713889,27749.536111,18217.975000,4375.901389
56,용전동,16751.944444,633.801389,82858.995833,50291.058333,56617.900000,68914.245833,46365.629167,13097.263889
57,원신흥동,17552.338889,1836.275000,58277.836111,71429.406944,61757.790278,60703.563889,33537.444444,7226.713889
58,월평1동,3141.043056,32.030556,36923.798611,32122.481944,31384.454167,38990.447222,26417.406944,5600.793056
59,월평2동,8404.227778,122.093056,28199.551389,22523.543056,25257.209722,29105.898611,18180.431944,4395.645833
60,월평3동,5112.075000,33.738889,20894.098611,16560.086111,17409.819444,22237.884722,14296.838889,2997.265278
61,유천1동,8217.211111,1303.594444,20068.118056,17222.731944,24037.579167,27984.923611,19433.173611,7145.572222
62,유천2동,6943.033333,370.758333,19701.266667,20116.094444,23474.043056,27310.979167,21202.131944,7555.676389
63,은행선화동,23835.516667,451.881944,92191.922222,56725.319444,62178.588889,67858.284722,49063.180556,15162.466667
64,자양동,20684.333333,35.156944,48989.729167,8800.423611,11419.661111,12725.194444,9399.773611,2890.669444
65,전민동,13909.223611,501.852778,63945.948611,65629.212500,68656.143056,75029.805556,34769.650000,5599.295833
66,정림동,6548.162500,457.313889,20032.734722,18864.386111,23827.605556,33291.168056,20123.812500,5649.955556
67,중리동,10581.187500,387.545833,41432.523611,32236.150000,43932.586111,54868.662500,33593.862500,8055.254167
68,중앙동,13386.237500,326.830556,59526.098611,43366.588889,48669.390278,66387.050000,57555.879167,20186.855556
69,중촌동,6649.391667,502.797222,27542.413889,28840.931944,37797.669444,47024.334722,33181.011111,9296.418056
70,진잠동,14967.868056,416.294444,54965.362500,61580.301389,85960.668056,96277.409722,35129.572222,6575.372222
71,탄방동,31108.738889,1335.816667,116385.133333,100444.159722,98905.663889,105545.773611,65578.913889,17349.845833
72,태평1동,6884.881944,428.806944,16085.748611,17116.050000,23386.380556,24742.705556,17792.190278,6194.176389
73,태평2동,37848.738889,4663.829167,48070.762500,46436.727778,76430.790278,89489.656944,67341.501389,29674.145833
74,판암1동,4186.170833,204.383333,22166.516667,23394.456944,28055.923611,34491.418056,18891.358333,5533.341667
75,판암2동,951.383333,30.115278,5891.688889,6550.291667,7387.266667,9597.822222,6379.370833,2058.229167
76,홍도동,6116.316667,68.929167,29721.943056,13004.180556,13786.120833,16921.456944,11409.016667,3273.436111
77,회덕동,3958.155556,86.633333,52578.586111,56030.125000,72678.637500,89384.011111,38665.201389,6045.348611
78,효동,10689.715278,479.394444,24531.715278,31161.120833,38480.256944,37780.555556,23570.955556,6772.502778

## 데이터 합치기

In [90]:
df1 = pd.read_csv('result_phar_dong.csv')
df2 = pd.read_csv('동별 10대미만 인구 비율.csv')
df3 = pd.read_csv('동별 node수.csv')
df4 = pd.read_csv('유동-거주인구비율_12시.csv')
df5 = df_11_group.pivot(index= '행정동',columns = '연령대',values='유동인구').reset_index()
df6 = a.copy()

In [91]:
df1

      행정동  near_phar
0    가수원동   1.008002
1    가양1동   2.773472
2    가양2동   2.467993
3     가장동   0.362630
4    갈마1동   3.860900
5    갈마2동   2.196194
6    관저1동   1.729550
7    관저2동   2.200407
8     관평동   0.391419
9     괴정동   2.587370
10    구즉동   2.836125
11     내동   2.075087
12   노은1동   1.384429
13   노은2동   0.474740
14   노은3동   1.130738
15     대동   1.805536
16    대사동   1.287197
17    대화동   0.554464
18    대흥동   4.342791
19    덕암동   0.958939
20   도마1동   2.347603
21   도마2동   1.886065
22   둔산1동   5.345502
23   둔산2동   9.750311
24   둔산3동   2.388927
25    만년동   1.434025
26     목동   3.365744
27    목상동   0.246524
28    문창동   2.966321
29   문화1동   3.850750
30   문화2동   1.920992
31    법1동   6.208997
32    법2동   4.718800
33     변동   2.793772
34    복수동   0.723299
35    부사동   1.953749
36    비래동   1.668743
37    산내동   0.525398
38    산성동   1.316362
39    삼성동   1.930104
40    석교동   0.426221
41    석봉동   3.871280
42    성남동   3.404498
43    송촌동   2.211349
44    신성동   0.170223
45    신인동   1.757958
46   신탄진동   1.986390
47    오류동   4.414533
48    오정동   1.215665
49   온천1동   1.295888
50   온천2동   1.181249
51    용두동   2.817647
52    용문동   2.935087
53    용운동   0.821869
54    용전동   3.098443
55   원신흥동   0.844896
56   월평1동   0.921008
57   월평2동   3.577855
58   월평3동   2.203460
59   유천1동   3.063149
60   유천2동   3.250519
61  은행선화동   2.520000
62    자양동   1.779516
63    전민동   0.415469
64    정림동   0.640254
65    중리동   2.891073
66    중앙동   5.659516
67    중촌동   1.808189
68    진잠동   0.567964
69    탄방동   6.262976
70   태평1동   2.527105
71   태평2동   2.354556
72   판암1동   1.143114
73   판암2동   1.031373
74    홍도동   2.012111
75    회덕동   0.725398
76     효동   1.883353

In [92]:
df2

      행정동  10대 미만 합   전체 합  10대미만의 비율
0    가수원동      5660  34012   0.166412
1    가양1동       873  11382   0.076700
2    가양2동      1085  15224   0.071269
3     가장동       912   9878   0.092326
4    갈마1동      1330  17403   0.076424
5    갈마2동      1624  19831   0.081892
6    관저1동      1391  12698   0.109545
7    관저2동      6677  41921   0.159276
8     관평동      3373  23638   0.142694
9     괴정동      1300  14995   0.086696
10    구즉동      2782  23193   0.119950
11    기성동       122   3216   0.037935
12     내동      2121  19264   0.110102
13   노은1동      2419  18106   0.133602
14   노은2동      2626  20409   0.128669
15   노은3동      5085  30030   0.169331
16     대동      1574  12655   0.124378
17    대사동       218   4383   0.049738
18    대청동        85   2146   0.039609
19    대화동       351   6103   0.057513
20    대흥동      1071  11363   0.094253
21    덕암동       909  11441   0.079451
22   도마1동       746  12081   0.061750
23   도마2동      1016  14758   0.068844
24   둔산1동      1699  13817   0.122964
25   둔산2동      3442  29554   0.116465
26   둔산3동      1274  16209   0.078598
27    만년동      1095  10656   0.102759
28     목동      1617  11987   0.134896
29    목상동       551   5683   0.096956
30    문창동       191   3908   0.048874
31   문화1동      2115  18456   0.114597
32   문화2동       687  10365   0.066281
33    법1동       490   7945   0.061674
34    법2동      1059  13492   0.078491
35     변동      1129  13249   0.085214
36    복수동      2279  18278   0.124685
37    부사동       351   5503   0.063783
38    비래동      1069  13511   0.079121
39    산내동      2147  17593   0.122037
40    산성동      1662  22589   0.073576
41    삼성동       852  11898   0.071609
42    석교동       820  12791   0.064108
43    석봉동      1835  11954   0.153505
44    성남동       950  10105   0.094013
45    송촌동      2279  22854   0.099720
46    신성동      3134  21161   0.148103
47    신인동      1017  10150   0.100197
48   신탄진동       564   9082   0.062101
49    오류동       671   8377   0.080100
50    오정동       790  12305   0.064202
51   온천1동      1537  26979   0.056970
52   온천2동      3622  32840   0.110292
53    용두동       566   7961   0.071097
54    용문동       754   9965   0.075665
55    용운동      1011  13425   0.075307
56    용전동      1273  16614   0.076622
57   원신흥동      5896  37951   0.155358
58   월평1동       442   8785   0.050313
59   월평2동       849  12333   0.068840
60   월평3동      1924  17803   0.108072
61   유천1동       379   5487   0.069072
62   유천2동       932  11095   0.084002
63  은행선화동       942  13755   0.068484
64    자양동       397   8460   0.046927
65    전민동      2856  22514   0.126854
66    정림동      1245  13490   0.092291
67    중리동      1165  16112   0.072306
68    중앙동       112   4201   0.026660
69    중촌동       828  10976   0.075437
70    진잠동      3473  29048   0.119561
71    탄방동      1565  20017   0.078184
72   태평1동      1344  11146   0.120581
73   태평2동      2162  21360   0.101217
74   판암1동       920  10282   0.089477
75   판암2동       308   7215   0.042689
76    홍도동       681   9108   0.074769
77    회덕동       799  11096   0.072008
78     효동      2821  21427   0.131656

In [102]:
df3

     행정동  속한 노드수
0   가수원동      16
1   가양1동       6
2   가양2동       4
3    가장동       1
4   갈마1동       3
..   ...     ...
72  판암1동       5
73  판암2동       3
74   홍도동       2
75   회덕동       5
76    효동       9

[77 rows x 2 columns]

In [103]:
df4

     행정동      유동인구    거주인구  유동-거주인구비율_12시
0   가수원동  12320957  510180  139105.241915
1   가양1동   6884066  170730  232251.040590
2   가양2동   7668416  228360  193422.999475
3    가장동   5578305  148170  216852.512654
4   갈마1동   9850253  261045  217347.420100
..   ...       ...     ...            ...
74  판암1동   5586543  154230  208639.614083
75  판암2동   1661650  108225   88437.089397
76   홍도동   3740788  136620  157714.382082
77   회덕동  13350737  166440  462029.831291
78    효동   7409672  321405  132791.060251

[79 rows x 4 columns]

In [104]:
df5

연령대,행정동,10대,10대 미만,20대,30대,40대,50대,60대,70대 이상
0,가수원동,17672.820833,431.368056,64446.908333,42932.020833,44696.641667,52672.556944,28383.375000,6896.826389
1,가양1동,9313.709722,400.930556,35225.668056,20653.205556,25744.322222,30443.118056,20828.894444,6550.031944
2,가양2동,18068.977778,269.369444,42922.237500,20657.980556,25840.101389,32443.050000,20179.984722,6062.573611
3,가장동,8501.752778,824.256944,22501.456944,23062.448611,28952.827778,34244.581944,23173.877778,7806.936111
4,갈마1동,11813.850000,271.145833,60413.415278,46617.956944,43313.544444,52542.683333,35198.036111,8331.087500
...,...,...,...,...,...,...,...,...,...
74,판암1동,4186.170833,204.383333,22166.516667,23394.456944,28055.923611,34491.418056,18891.358333,5533.341667
75,판암2동,951.383333,30.115278,5891.688889,6550.291667,7387.266667,9597.822222,6379.370833,2058.229167
76,홍도동,6116.316667,68.929167,29721.943056,13004.180556,13786.120833,16921.456944,11409.016667,3273.436111
77,회덕동,3958.155556,86.633333,52578.586111,56030.125000,72678.637500,89384.011111,38665.201389,6045.348611
78,효동,10689.715278,479.394444,24531.715278,31161.120833,38480.256944,37780.555556,23570.955556,6772.502778

In [105]:
df6

     행정동  평균 나이
0   가수원동     37
1   가양1동     45
2   가양2동     43
3    가장동     43
4   갈마1동     41
..   ...    ...
74  판암1동     45
75  판암2동     52
76   홍도동     44
77   회덕동     46
78    효동     40

[79 rows x 2 columns]

In [106]:
df_check = pd.merge(df4,df3,on='행정동',how='left')

In [107]:
df_check = pd.merge(df_check, df2, on ='행정동',how = 'left')

In [108]:
df_check = pd.merge(df_check, df1, on = '행정동',how = 'left')

In [116]:
df_check = df_check.rename(columns = {'평균나이':'거주인구_평균나이'})

In [110]:
df_check.loc[df_check['속한 노드수'].isnull(), '속한 노드수'] = 0
df_check.loc[df_check['near_phar'].isnull(), 'near_phar'] = 0

In [111]:
df_check.isnull().sum()

행정동              0
유동인구             0
거주인구             0
유동-거주인구비율_12시    0
속한 노드수           0
10대 미만 합         0
전체 합             0
10대미만의 비율        0
near_phar        0
dtype: int64

In [112]:
df_check = pd.merge(df_check,df5,on = '행정동', how = 'left')

In [113]:
df_check = pd.merge(df_check,df6,on = '행정동',how = 'left', suffixes=('_유동인구','_거주인구'))

In [117]:
df_check.to_csv('clustering_v3.csv',index = False)

In [253]:
df_check.columns

Index(['행정동', '유동인구', '거주인구', '유동-거주인구비율_12시', '속한 노드수', '10대 미만 합', '전체 합',
       '10대미만의 비율', 'near_phar', '레이블', '10대_유동인구', '10대 미만_유동인구', '20대_유동인구',
       '30대_유동인구', '40대_유동인구', '50대_유동인구', '60대_유동인구', '70대 이상_유동인구',
       '10대_거주인구', '10대 미만_거주인구', '20대_거주인구', '30대_거주인구', '40대_거주인구',
       '50대_거주인구', '60대_거주인구', '70대 이상_거주인구'],
      dtype='object')

In [121]:
df_check_clus = df_check.copy()

## 클러스터링 해보자

In [127]:
from sklearn.cluster import KMeans

In [123]:
df_kmeans = df_check_clus.set_index(keys = '행정동')

In [124]:
k_means = df_kmeans.values

In [125]:
k_means

array([[1.23209570e+07, 5.10180000e+05, 1.39105242e+05, ...,
        2.83833750e+04, 6.89682639e+03, 3.70000000e+01],
       [6.88406600e+06, 1.70730000e+05, 2.32251041e+05, ...,
        2.08288944e+04, 6.55003194e+03, 4.50000000e+01],
       [7.66841600e+06, 2.28360000e+05, 1.93422999e+05, ...,
        2.01799847e+04, 6.06257361e+03, 4.30000000e+01],
       ...,
       [3.74078800e+06, 1.36620000e+05, 1.57714382e+05, ...,
        1.14090167e+04, 3.27343611e+03, 4.40000000e+01],
       [1.33507370e+07, 1.66440000e+05, 4.62029831e+05, ...,
        3.86652014e+04, 6.04534861e+03, 4.60000000e+01],
       [7.40967200e+06, 3.21405000e+05, 1.32791060e+05, ...,
        2.35709556e+04, 6.77250278e+03, 4.00000000e+01]])

In [128]:
kmeans = KMeans(n_clusters=5, max_iter=100, verbose=1)

In [129]:
clusters = kmeans.fit_predict(k_means)

Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 222079708032807.03
start iteration
done sorting
end inner loop
Iteration 1, inertia 218513517617822.25
start iteration
done sorting
end inner loop
Iteration 2, inertia 214984856043505.25
start iteration
done sorting
end inner loop
Iteration 3, inertia 214654226589117.06
start iteration
done sorting
end inner loop
Iteration 4, inertia 214654226589117.06
center shift 0.000000e+00 within tolerance 3.958402e+08
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 231863799088743.97
start iteration
done sorting
end inner loop
Iteration 1, inertia 222753713866293.88
start iteration
done sorting
end inner loop
Iteration 2, inertia 220848259392536.62
start iteration
done sorting
end inner loop
Iteration 3, inertia 218513517617822.25
start iteration
done sorting
end inner loop
Iteration 4, inertia 214984856043505.25
start iteration
done sorting
end inner loop
Iteration 5, inertia 214654226589117.06
start iteration
done sorting
end inner loop
Iteration 6, inertia 214654226589117.06
center shift 0.000000e+00 within tolerance 3.958402e+08
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 334512745129134.9
start iteration
done sorting
end inner loop
Iteration 1, inertia 333071603464136.06
start iteration
done sorting
end inner loop
Iteration 2, inertia 332585709201939.44
start iteration
done sorting
end inner loop
Iteration 3, inertia 332585709201939.44
center shift 0.000000e+00 within tolerance 3.958402e+08
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 258047204901995.88
start iteration
done sorting
end inner loop
Iteration 1, inertia 253950565322158.06
start iteration
done sorting
end inner loop
Iteration 2, inertia 242792051648398.75
start iteration
done sorting
end inner loop
Iteration 3, inertia 221955903632545.3
start iteration
done sorting
end inner loop
Iteration 4, inertia 215624278574883.5
start iteration
done sorting
end inner loop
Iteration 5, inertia 214654226589117.06
start iteration
done sorting
end inner loop
Iteration 6, inertia 214654226589117.06
center shift 0.000000e+00 within tolerance 3.958402e+08
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 284779841607757.6
start iteration
done sorting
end inner loop
Iteration 1, inertia 242792051648398.75
start iteration
done sorting
end inner loop
Iteration 2, inertia 221955903632545.3
start iteration
done sorting
end inner loop
Iteration 3, inertia 215624278574883.5
start iteration
done sorting
end inner loop
Iteration 4, inertia 214654226589117.06
start iteration
done sorting
end inner loop
Iteration 5, inertia 214654226589117.06
center shift 0.000000e+00 within tolerance 3.958402e+08
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 374620046333168.8
start iteration
done sorting
end inner loop
Iteration 1, inertia 372559591409157.56
start iteration
done sorting
end inner loop
Iteration 2, inertia 372559591409157.56
center shift 0.000000e+00 within tolerance 3.958402e+08
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 255055193247722.25
start iteration
done sorting
end inner loop
Iteration 1, inertia 242792051648398.75
start iteration
done sorting
end inner loop
Iteration 2, inertia 221955903632545.3
start iteration
done sorting
end inner loop
Iteration 3, inertia 215624278574883.5
start iteration
done sorting
end inner loop
Iteration 4, inertia 214654226589117.06
start iteration
done sorting
end inner loop
Iteration 5, inertia 214654226589117.06
center shift 0.000000e+00 within tolerance 3.958402e+08
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 308886020231265.0
start iteration
done sorting
end inner loop
Iteration 1, inertia 277789886444676.12
start iteration
done sorting
end inner loop
Iteration 2, inertia 275070455027666.44
start iteration
done sorting
end inner loop
Iteration 3, inertia 274399952086659.44
start iteration
done sorting
end inner loop
Iteration 4, inertia 273801898539962.0
start iteration
done sorting
end inner loop
Iteration 5, inertia 272198743829546.56
start iteration
done sorting
end inner loop
Iteration 6, inertia 271272090426665.7
start iteration
done sorting
end inner loop
Iteration 7, inertia 271272090426665.7
center shift 0.000000e+00 within tolerance 3.958402e+08
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 217527361181404.5
start iteration
done sorting
end inner loop
Iteration 1, inertia 214654226589117.06
start iteration
done sorting
end inner loop
Iteration 2, inertia 214654226589117.06
center shift 0.000000e+00 within tolerance 3.958402e+08
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 214984856043505.25
start iteration
done sorting
end inner loop
Iteration 1, inertia 214654226589117.06
start iteration
done sorting
end inner loop
Iteration 2, inertia 214654226589117.06
center shift 0.000000e+00 within tolerance 3.958402e+08

In [130]:
kmeans.labels_

array([2, 0, 0, 4, 0, 0, 0, 2, 3, 0, 0, 4, 4, 0, 0, 4, 4, 4, 4, 0, 2, 0,
       0, 0, 2, 1, 0, 0, 4, 0, 4, 2, 4, 4, 4, 0, 0, 4, 4, 4, 2, 0, 4, 0,
       4, 0, 1, 0, 4, 0, 3, 1, 1, 0, 0, 0, 2, 2, 0, 4, 4, 4, 4, 2, 4, 2,
       4, 0, 2, 0, 2, 3, 4, 2, 4, 4, 4, 2, 0], dtype=int32)

In [131]:
cluster_nums = []
for doc_num, cluster_num in enumerate(clusters): 
    cluster_nums.append(cluster_num)
    print(doc_num, cluster_num)

0 2
1 0
2 0
3 4
4 0
5 0
6 0
7 2
8 3
9 0
10 0
11 4
12 4
13 0
14 0
15 4
16 4
17 4
18 4
19 0
20 2
21 0
22 0
23 0
24 2
25 1
26 0
27 0
28 4
29 0
30 4
31 2
32 4
33 4
34 4
35 0
36 0
37 4
38 4
39 4
40 2
41 0
42 4
43 0
44 4
45 0
46 1
47 0
48 4
49 0
50 3
51 1
52 1
53 0
54 0
55 0
56 2
57 2
58 0
59 4
60 4
61 4
62 4
63 2
64 4
65 2
66 4
67 0
68 2
69 0
70 2
71 3
72 4
73 2
74 4
75 4
76 4
77 2
78 0

In [132]:
df_check['레이블'] = cluster_nums

In [133]:
df_check[df_check['행정동']=='관평동']

,행정동,유동인구,거주인구,유동-거주인구비율_12시,속한 노드수,10대 미만 합,전체 합,10대미만의 비율,near_phar,10대,10대 미만,20대,30대,40대,50대,60대,70대 이상,평균 나이,레이블
8,관평동,20301910,354570,329805.120569,30.0,3373,23638,0.142694,0.391419,23773.825,1609.591667,67920.704167,84818.727778,93078.829167,84544.069444,41075.601389,6159.547222,36,3

In [134]:
df_check[df_check['행정동']=='신성동']

,행정동,유동인구,거주인구,유동-거주인구비율_12시,속한 노드수,10대 미만 합,전체 합,10대미만의 비율,near_phar,10대,10대 미만,20대,30대,40대,50대,60대,70대 이상,평균 나이,레이블
46,신성동,33923308,317415,615592.376164,36.0,3134,21161,0.148103,0.170223,23107.3,976.8125,130355.533333,127692.820833,126809.731944,125951.809722,51031.041667,5725.309722,36,1

In [135]:
df_check[df_check['행정동']=='전민동']

,행정동,유동인구,거주인구,유동-거주인구비율_12시,속한 노드수,10대 미만 합,전체 합,10대미만의 비율,near_phar,10대,10대 미만,20대,30대,40대,50대,60대,70대 이상,평균 나이,레이블
65,전민동,16996699,337710,289896.61615,17.0,2856,22514,0.126854,0.415469,13909.223611,501.852778,63945.948611,65629.2125,68656.143056,75029.805556,34769.65,5599.295833,37,2

In [118]:
df = pd.read_csv('clustering_gmm_v2.csv')

In [136]:
df = df.drop(columns = ['Unnamed: 0','result'])

In [140]:
a = df.set_index('행정동')

In [141]:
k_means = a.values

In [142]:
kmeans = KMeans(n_clusters=5, max_iter=100, verbose=1)

In [143]:
clusters = kmeans.fit_predict(k_means)

Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 948.9934168669942
start iteration
done sorting
end inner loop
Iteration 1, inertia 900.515314339059
start iteration
done sorting
end inner loop
Iteration 2, inertia 900.515314339059
center shift 0.000000e+00 within tolerance 1.753562e-03
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 1158.4069457136275
start iteration
done sorting
end inner loop
Iteration 1, inertia 1088.6123294735203
start iteration
done sorting
end inner loop
Iteration 2, inertia 1068.2713568352906
start iteration
done sorting
end inner loop
Iteration 3, inertia 1042.467382187124
start iteration
done sorting
end inner loop
Iteration 4, inertia 1022.7959759857346
start iteration
done sorting
end inner loop
Iteration 5, inertia 1011.2741180495093
start iteration
done sorting
end inner loop
Iteration 6, inertia 1007.1836466851548
start iteration
done sorting
end inner loop
Iteration 7, inertia 1007.1836466851548
center shift 0.000000e+00 within tolerance 1.753562e-03
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 1154.4860897622254
start iteration
done sorting
end inner loop
Iteration 1, inertia 1090.410935661505
start iteration
done sorting
end inner loop
Iteration 2, inertia 972.9319052672552
start iteration
done sorting
end inner loop
Iteration 3, inertia 972.9319052672552
center shift 0.000000e+00 within tolerance 1.753562e-03
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 1018.8458141269855
start iteration
done sorting
end inner loop
Iteration 1, inertia 955.2181998470916
start iteration
done sorting
end inner loop
Iteration 2, inertia 935.633646675228
start iteration
done sorting
end inner loop
Iteration 3, inertia 934.3427529823475
start iteration
done sorting
end inner loop
Iteration 4, inertia 932.2391861245154
start iteration
done sorting
end inner loop
Iteration 5, inertia 926.7216788092717
start iteration
done sorting
end inner loop
Iteration 6, inertia 926.7216788092717
center shift 0.000000e+00 within tolerance 1.753562e-03
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 1165.6836827822854
start iteration
done sorting
end inner loop
Iteration 1, inertia 1153.756539937526
start iteration
done sorting
end inner loop
Iteration 2, inertia 1141.4793590210631
start iteration
done sorting
end inner loop
Iteration 3, inertia 1141.4793590210631
center shift 0.000000e+00 within tolerance 1.753562e-03
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 1111.6004463919207
start iteration
done sorting
end inner loop
Iteration 1, inertia 1079.2059311809555
start iteration
done sorting
end inner loop
Iteration 2, inertia 1075.081923469637
start iteration
done sorting
end inner loop
Iteration 3, inertia 1070.4466527672816
start iteration
done sorting
end inner loop
Iteration 4, inertia 1065.3026340098295
start iteration
done sorting
end inner loop
Iteration 5, inertia 1065.3026340098295
center shift 0.000000e+00 within tolerance 1.753562e-03
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 961.7035431143444
start iteration
done sorting
end inner loop
Iteration 1, inertia 947.051165674122
start iteration
done sorting
end inner loop
Iteration 2, inertia 947.051165674122
center shift 0.000000e+00 within tolerance 1.753562e-03
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 1158.0759786659405
start iteration
done sorting
end inner loop
Iteration 1, inertia 1097.4446521426846
start iteration
done sorting
end inner loop
Iteration 2, inertia 1082.0436683874982
start iteration
done sorting
end inner loop
Iteration 3, inertia 1078.9406390435058
start iteration
done sorting
end inner loop
Iteration 4, inertia 1061.8495346233076
start iteration
done sorting
end inner loop
Iteration 5, inertia 1056.3201412530866
start iteration
done sorting
end inner loop
Iteration 6, inertia 1056.3201412530866
center shift 0.000000e+00 within tolerance 1.753562e-03
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 1096.216101349884
start iteration
done sorting
end inner loop
Iteration 1, inertia 1041.70715010493
start iteration
done sorting
end inner loop
Iteration 2, inertia 1017.9056527294254
start iteration
done sorting
end inner loop
Iteration 3, inertia 1001.2251536701547
start iteration
done sorting
end inner loop
Iteration 4, inertia 984.3063997757097
start iteration
done sorting
end inner loop
Iteration 5, inertia 978.3232112069979
start iteration
done sorting
end inner loop
Iteration 6, inertia 950.603215116335
start iteration
done sorting
end inner loop
Iteration 7, inertia 935.729258153685
start iteration
done sorting
end inner loop
Iteration 8, inertia 926.9026735680974
start iteration
done sorting
end inner loop
Iteration 9, inertia 903.2202793144236
start iteration
done sorting
end inner loop
Iteration 10, inertia 903.2202793144236
center shift 0.000000e+00 within tolerance 1.753562e-03
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 1096.7278229250226
start iteration
done sorting
end inner loop
Iteration 1, inertia 1020.7097719464724
start iteration
done sorting
end inner loop
Iteration 2, inertia 1000.4257974001888
start iteration
done sorting
end inner loop
Iteration 3, inertia 979.712287489812
start iteration
done sorting
end inner loop
Iteration 4, inertia 969.6274467618007
start iteration
done sorting
end inner loop
Iteration 5, inertia 961.2053256028101
start iteration
done sorting
end inner loop
Iteration 6, inertia 934.2659705219816
start iteration
done sorting
end inner loop
Iteration 7, inertia 909.7032102132597
start iteration
done sorting
end inner loop
Iteration 8, inertia 903.2202793144236
start iteration
done sorting
end inner loop
Iteration 9, inertia 903.2202793144236
center shift 0.000000e+00 within tolerance 1.753562e-03

In [144]:
cluster_nums = []
for doc_num, cluster_num in enumerate(clusters): 
    cluster_nums.append(cluster_num)
    print(doc_num, cluster_num)

0 0
1 1
2 1
3 1
4 3
5 3
6 3
7 0
8 2
9 3
10 3
11 4
12 3
13 0
14 3
15 0
16 3
17 1
18 4
19 1
20 1
21 1
22 1
23 1
24 3
25 3
26 3
27 3
28 3
29 0
30 4
31 3
32 1
33 1
34 1
35 1
36 3
37 1
38 1
39 3
40 1
41 1
42 1
43 3
44 1
45 3
46 2
47 1
48 1
49 1
50 1
51 2
52 0
53 1
54 1
55 1
56 3
57 3
58 3
59 1
60 3
61 1
62 1
63 1
64 1
65 0
66 1
67 1
68 4
69 1
70 0
71 3
72 3
73 3
74 1
75 4
76 1
77 1
78 3

In [145]:
df['레이블'] = cluster_nums

In [146]:
df

     행정동  속한 노드수  10대미만의 비율  near_phar  평균 나이  레이블
0   가수원동    16.0   0.166412   1.008002     37    0
1   가양1동     6.0   0.076700   2.773472     45    1
2   가양2동     4.0   0.071269   2.467993     43    1
3    가장동     1.0   0.092326   0.362630     43    1
4   갈마1동     3.0   0.076424   3.860900     41    3
..   ...     ...        ...        ...    ...  ...
74  판암1동     5.0   0.089477   1.143114     45    1
75  판암2동     3.0   0.042689   1.031373     52    4
76   홍도동     2.0   0.074769   2.012111     44    1
77   회덕동     5.0   0.072008   0.725398     46    1
78    효동     9.0   0.131656   1.883353     40    3

[79 rows x 6 columns]

In [149]:
df[df['레이블']==2]

     행정동  속한 노드수  10대미만의 비율  near_phar  평균 나이  레이블
8    관평동    30.0   0.142694   0.391419     36    2
46   신성동    36.0   0.148103   0.170223     36    2
51  온천1동    34.0   0.056970   1.295888     42    2